[Unit]
Description={{ app }}
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Environment=INFLUX_SERVER_IP={{ server_ip }}

ExecStart=/usr/bin/python3 /home/pi/apps/{{ app }}/main.py
Restart=on-failure
Type=notify

[Install]
WantedBy=default.target
